@mixin flex {
    display: flex;
    align-items: center;
}
@mixin flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin img-style {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
