/* Variables */

$font-family-1: "Open Sans";
$font-family-2: "Roboto";

$white: #fff;
$black: #000;
$primary-color-1: #352d59;
$primary-color-2: #a1a4ac;
$primary-color-3: #6ae1e3;
$primary-color-4: #4267dc;
$primary-color-5: #fefeff;
$primary-color-6: #f3f4fa;
$primary-color-7: #0a0e2a;
$primary-color-8: #a1a4ac;
$primary-color-9: #0a0d29;
$primary-color-10: #7b8390;
$primary-color-11: #e4e4e4;
$primary-color-12: #4471e8;
$primary-color-13: #4f53c1;
$primary-color-14: #d6d9e8;
$primary-color-15: #f3f2f2;

$bd-radius-1: 5px;
$bd-radius-2: 7px;
$bd-radius-3: 10px;
$bd-radius-4: 100px;
$bd-radius-5: 50%;

$box-shadow-1: 0px 100px 80px rgba(41, 72, 152, 0.05), 0px 64.8148px 46.8519px rgba(41, 72, 152, 0.037963),
    0px 38.5185px 25.4815px rgba(41, 72, 152, 0.0303704), 0px 20px 13px rgba(41, 72, 152, 0.025),
    0px 8.14815px 6.51852px rgba(41, 72, 152, 0.0196296), 0px 1.85185px 3.14815px rgba(41, 72, 152, 0.012037);

$box-shadow-2: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778),
    0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015),
    0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222);

$box-shadow-3: 0px 109.322px 87.4576px rgba(41, 72, 152, 0.05), 0px 70.8569px 51.2194px rgba(41, 72, 152, 0.037963),
    0px 42.1092px 27.8569px rgba(41, 72, 152, 0.0303704), 0px 21.8644px 14.2119px rgba(41, 72, 152, 0.025),
    0px 8.90772px 7.12618px rgba(41, 72, 152, 0.0196296), 0px 2.02448px 3.44162px rgba(41, 72, 152, 0.012037);
